In [ ]:
#functio with keyword args
def result(*args):
  return sum(args)
print(result(1,2,3))
print(result(11,22,33,44))

6
110

In [ ]:
#function with keyword args**
def info(**kwargs):
  for key,value in kwargs.items():
    print(key,value)
info(name="Vijay",age=33,city="Mumbai")

name Vijay
age 33
city Mumbai

In [ ]:
#lambda fun
sq=lambda x:x*x
print(sq(5))
add=lambda x,y:x+y
print(add(3,5))

25
8

In [ ]:
'''write a programm to return n number of multiple values where passing a list of 1 to 5 elements
return the min max and avg in a single function'''
def numbers(*args):
  return min(args),max(args),sum(args)/len(args)
print(numbers(1,2,3,4,5))

(1, 5, 3.0)

In [ ]:
#direct recursion fact/non tail/head
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)
print(fact(5))

120

In [ ]:
#indirect
def e(n):
  if n==0:
    return True
  return o(n-1)
def o(n):
  if n==0:
    return False
  return e(n-1)
print(e(4))
print(o(3))

True
True

In [ ]:
#tail
def fact(n,t=1):
  if n==0 or n==1:
    return
    return fact(n-1,n*t)
print(fact(5))

None

In [ ]:
#linear rec
def total(n):
  if n<=0:
    return 0
  return n+total(n-1)
print(total(10))

55

In [ ]:
#nested recursion super fact
def sfact(n):
  if n<=0:
    return 1
  return fact(n) * sfact(n-1)
def fact(n):
  if n<=1:
    return 1
  return n *fact(n-1)
print(sfact(4))
print(sfact(3))

288
12

In [ ]:
def pt(a,n):
  if n==1:
    return a
  return a**pt(a,n-1)
print(pt(2,4))
print(pt(3,2))

65536
27

***oops concepts***

In [ ]:
class dog:
  def bark(self):
    print("german shepard")
    print("bow bow")
animal=dog()
animal.bark()

german shepard
bow bow

In [ ]:
class boy:
  def set_name(self,name):
    self.name=name
  def get_name(self):
    return self.name
s=boy()
s.set_name("krishna")
print(s.get_name())

krishna

In [ ]:
#a.o by using a class obj instance

class calc:
  def add(self,a,b):
    return a+b
  def mul(self,a,b):
    return a*b
c=calc()
print(c.add(10,4))
print(c.mul(4,4))

14
16

In [ ]:
class operations:
  def set_values(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    return self.a+self.b
  def sub(self):
    return self.a-self.b
  def mul(self):
    return self.a*self.b
op=operations()
op.set_values(4,5)
print("summmation:",op.add())
print("sub:",op.sub())
print("mul:",op.mul())

summmation: 9
sub: -1
mul: 20

In [ ]:
'''code for calculation the area of a square by creating a calls square and dfening the area and perimeter functions and return the both values to the obj
side=4'''
class square:
  def perimeter(self,a):
    return 4*a
  def area(self,a):
    return a*a
s=square()
print(s.perimeter(4))
print(s.area(4))

16
16

In [ ]:
class square:
  def sides(self,s):
    self.s=s
  def perimeter(self):
    return 4*self.s
  def area(self):
    return self.s*self.s
s=square()
s.sides(4)
print(s.perimeter())
print(s.area())

16
16

In [ ]:
'''find the hypothesis of pythogorous theorm c=sqrt(a**2+b**2)'''
import math
class Pythagoras:
    def set_values(self, a, b):
        self.a = a
        self.b = b
    def hypothesis(self):
        return math.sqrt(self.a ** 2 + self.b ** 2)
p = Pythagoras()
p.set_values(3, 4)
print(p.hypothesis())

5.0

In [ ]:
class student:
  def __init__(self,name,num):
    self.name=name
    self.num=num
  def display(self):
    print(f"Name:{self.name},RollNo:{self.num}")
s1=student('Tony',101)
s2=student('Mike',103)
s1.display()
s2.display()

Name:Tony,RollNo:101
Name:Mike,RollNo:103

In [ ]:
'''code for calculating the area and perimeter of a rectangle by taking a user defined input as an object and classs as rectangle, return valued to diplay'''
class rectangle:
  def __init__(self,l,b):
    self.l=l
    self.b=b
  def area(self):
    return self.l*self.b
  def perimeter(self):
    return 2*(self.l+self.b)
l=int(input("enter the length:"))
b=int(input("enter the breadth:"))
r=rectangle(l,b)
print("Area of Rectangle:",r.area())
print("perimetr of rectanglr:",r.perimeter())

enter the length:6
enter the breadth:4
Area of Rectangle: 24
perimetr of rectanglr: 20

In [ ]:
#calling a method from another method in a single class
class abc():
  def __init__(self,var):
    self.var=var
  def display(self):
    print("var:",self.var)
  def call(self):
    self.var+=1000
    self.display()
obj=abc(100)
obj.call()

var: 1100

In [ ]:
#code for a class method to call a function, which is defined in global namespace
def globe(x):
  return x**10
class abc():
  def __init__(self,var):
    self.var=var
  def display(self):
    print("var:",self.var)
  def modify(self):
    self.var=globe(self.var)
obj=abc(10)
obj.display()
obj.modify()
obj.display()

var: 10
var: 10000000000

In [ ]:
'''
program that uses class as student to store the name and marks
of the student , use a list to store the marks of 3 subjects constraints:
1. take class as student
2. create a constructor for the student name
3. create a function for marks , to be entered manully with in thet class
function and add the marks to the list
4. display then student name and the marks he/she got
5. pass the object's attributes of two stdent names tc :
objl:"vijay"
obj2:"Anil"
output : vijay got [88, 88, 90]'''

class student:
  def __init__(self,name):
    self.name=name
    self.marks=[]
  def entermarks(self):
    for i in range(3):
        m=int(input("enter the marks of %s in sibject %d:"%(self.name,i+1)))
        self.marks.append(m)
  def display(self):
    print(self.name,"got", self.marks)
s1=student("vijay")
s1.entermarks()
s2=student("krishna")
s2.entermarks()
s1.display()
s2.display()

enter the marks of vijay in sibject 1:58
enter the marks of vijay in sibject 2:68
enter the marks of vijay in sibject 3:35
enter the marks of krishna in sibject 1:55
enter the marks of krishna in sibject 2:65
enter the marks of krishna in sibject 3:55
vijay got [58, 68, 35]
krishna got [55, 65, 55]